body{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	background-color: #c2d6ff;
	font-size: 1.25em;
}

header{
	text-align: center;
}

section{
	margin-top: 15px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}


.logo{
	float: right;
	width: 200px;
	max-height: 50px;
	/*min-height: 65px;*/
	margin-left: 25px;
	margin-bottom: 10px;
}

nav{
	width: 100%;
	height: 40px;
	background-color: #93a7ff;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

nav > *{
	width: 55%;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
}
li{
	border-top: 3px dotted #171717;
    padding-top: 30px;
}

.separated{
	display: flex;
}

.left{
	width: 70%;
}

.right{
	width: 30%;
	display: flex;
	justify-content: center;
}

nav > *:hover{
	background-color: #4164ff;
	color: white;
}

.tabbed{
	padding-left: 1cm;
}

